*{
    box-sizing: border-box;
    margin:0px;
}

html,body{
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper__header{
    width: 100%;
    display:flex;
    flex-direction: column;
}

.header__title{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.title{
    color:#55b2d4;
    font-size: 13px;
    font-weight: 700;
}

.subtitle{
    font-size: 8px;
    padding-left: 5px;
}

.divideLine{
    width:100%;
    border-top: 1px solid gray;
}

.game__container{
    width: 222px;
    height: 168px;
    border : 1px solid gray;
    border-radius : 15px;
    background-color: #f6f6f6;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px 20px 20px;
}

.game__title{
    font-size: 15px;
    font-weight: 900;
}

.game__subtitle{
    font-size: 11px;
}

.word__text{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textbox{
    width:130px;
    height:24px;
    border-radius: 5px;
    padding: 4px 8px;
    border: 1px solid gray;
}

.textbox::placeholder{
    font-size: 11px;
    color: #999999
}

.search{
    width:38px;
    height:24px;
    font-size: 11px;
    font-weight: 700;
}

.word__result{
    font-size: 11px;
    font-weight: 700
}

.lottonumber{
    width:130px;
    border-radius:8px;
    background-color: #FFE400;
    border: 1px solid #000000;
    font-size: 10px;
    line-height: 13px;
}

.lottonumber__text{
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
}

.lottobtn{
    border-radius: 8px;
    background-color: white;
    font-weight: 700;
}
